.widget {
    height: 236px;
    background-color: #b620e0;
    color: #fff;
    font-family: Roboto;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: normal;
    color: #ffffff;
    display: flex;
    flex-flow: column;
}
.widget > h3 {
    color: #fff;
    margin-bottom: 30px;
}
.button {
    width: 240px;
    height: 69px;
    font-size: 18px;
}