.about {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    .link {
        font-family: Roboto;
        font-size: 12px;
        text-align: center;
        color: #6236ff;
    }
    .reviews img {
        filter: grayscale(100%);
    }
}