.loan-card {
  padding: 52px 24px 24px 24px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #d8d8d8;
  background-color: #ffffff;
}


@media (min-width: 1280px) {
  .loan-card {
    &__calc {
      margin: 0 24px !important;
    }
    &__aside {
      margin-left: 24px !important;
    }
  }
}
